<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link type="text/css" rel="stylesheet", href="./assets/css/style.css">
</head>
<body>
    <h1>zajecia</h1>
    <h2>wprowadzenie do node js</h2>

    <h3>{{pageTitle}}</h3>
    <h3>{{subTitle}}</h3>
    <h3>{{subSubTitle}}</h3>

    {{!-- <input type="text" id="textCopy">
    <button type="button" id="btn" onclick="rewriteFunc()">Przepisz</button>
     <div id="rewrite"></div>  my version --}}

    <form action="">
        <input type="text" id="example">
        <button id="action">click</button>
        <p id="text"></p> 
    </form>

    <script src="/js/func.js"></script>
</body>
</html>